<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>Servlet.Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Enviar</servlet-name>
        <servlet-class>Servlet.Enviar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RutaAdicionar</servlet-name>
        <servlet-class>Servlet.RutaAdicionar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adicionar</servlet-name>
        <servlet-class>Servlet.Adicionar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Enviar</servlet-name>
        <url-pattern>/Enviar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RutaAdicionar</servlet-name>
        <url-pattern>/RutaAdicionar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adicionar</servlet-name>
        <url-pattern>/Adicionar</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
